<!--<thead>-->
<!--  <tr>-->
<!--    <th>%= current_user.name %></th>-->
<!--    <th>%= user.name %></th>-->
<!--  </tr>-->
<!--</thead>-->
<!--% chats.each do |chat| %>-->
<!--  %if chat.user_id == current_user.id %>-->
<!--    <tbody>-->
<!--      <tr>-->
<!--        <td>%= chat.message %></td>-->
<!--        <td></td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  % else %>-->
<!--    <tbody>-->
<!--      <tr>-->
<!--        <td></td>-->
<!--        <td>%= chat.message %></td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  % end %>-->
<!--% end %>-->